{% extends "layout.html" %}

{% block body %}

<body>

    
    <h1 style="text-align:center;"> Create an Account </h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                
                {{ form.hidden_tag() }}
                {{ form.f_name.label }} {{ form.f_name }}
                <br>
                {{ form.l_name.label }} {{ form.l_name }}
                <br>
                {{ form.email.label }} {{ form.email }}
                <br>
                {{ form.username.label }} {{ form.username }}
                <br>
                {{ form.password.label }} {{ form.password }}
                <br>
                {{ form.confirm_password.label }} {{ form.confirm_password }}
                <br>
                {{ form.address.label }} {{ form.address }}
                <br>
                {{ form.postcode.label }} {{ form.postcode }}
                <br>
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>





{% endblock body %}