{% extends "layout.html" %}

{% block body %}




<h1 style="text-align:center;">    Contact Us       </h1>


<h3 style="text-align:center;">If you have any further questions, please contact us on one of the following : 

<br>

<h2> </h2>

<br>

<h3 style="text-align:center;">Email : WeLoveBooks4Life@gmail.com

<br>

<h2>   </h2>

<br>

<h3 style="text-align:center;">Contact Number: 020 3459871
<br>

<h2>   </h2>

<br>

<h3 style="text-align:center;">Thank you for your support!


</p2>



{% endblock body %}

