{% extends "layout.html" %}

{% block body %}

<h1 style="text-align:center;">  WELCOME TO THE BOOKSHOP WEBSITE              </h1>

<h4 style="text-align:center;">  We have a wide variety of book ranging from all sorts of authors. </h4>
<h4 style="text-align:center;"> If you are searching for your perfect book... </h4>
<h4 style="text-align:center;">  here is the place to find it!               </h4>  


<h2 style="text-align:center;"> Please navigate to one of the section at the top to get started :)    </h2>


<style>


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
    
</style>




<img src="https://www.booktrust.org.uk/globalassets/images/illustrations/kate-alizadeh-0-1/jpegs/kate-alizadeh-best-new-books-16x9.jpg" alt="book">

{% endblock body %}
