{% extends 'layout.html' %}

{% block body %}

<h1>        Add your Thoughts              </h1>

<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.favourite_book.label }} {{ form.favourite_book }}
        {{ form.rating.label }} {{ form.rating }}
        {{ form.why_like_book.label }} {{ form.why_like_book }}
        {{ form.compare.label }} {{ form.compare }}
        {{ form.persons_thoughts.label }} {{ form.persons_thoughts }}
    </form>

</div>





</div>







{% endblock body %}